{% extends 'baseA.html.twig' %}

{% block body %}


    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>MACHINES À DÉCOUPE LASER</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>MACHINES INJECTION</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>ACCESSOIRES PLASTIQUE</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>PROFILEUSES</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>MACHINES-OUTILS</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>MOULES</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
            <div class="stats">
                <h5><strong>AUTRES MACHINES</strong></h5>
                <span>Voir Plus</span>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Targets Achieved</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:60%">Name</th>
                        <th style="width:30%">Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>Harry P.</td>
                        <td><span class="playlist_song2">...</span></td>
                    </tr>
                    <tr>

                        <td>Will Mark</td>
                        <td><span class="playlist_song3">...</span></td>
                    </tr>
                    <tr>

                        <td>Jason D.</td>
                        <td><span class="playlist_song4">...</span></td>
                    </tr>

                    <tr>

                        <td>Nik P.</td>
                        <td><span class="playlist_song6">...</span></td>
                    </tr>
                    <tr>

                        <td>Kate Wilson</td>
                        <td><span class="playlist_song7">...</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section></div>

    <div class="col-lg-6">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">New Products</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:60%">Name</th>
                        <th style="width:30%">Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>Harry P.</td>
                        <td><span class="playlist_song2">...</span></td>
                    </tr>
                    <tr>

                        <td>Will Mark</td>
                        <td><span class="playlist_song3">...</span></td>
                    </tr>
                    <tr>

                        <td>Jason D.</td>
                        <td><span class="playlist_song4">...</span></td>
                    </tr>

                    <tr>

                        <td>Nik P.</td>
                        <td><span class="playlist_song6">...</span></td>
                    </tr>
                    <tr>

                        <td>Kate Wilson</td>
                        <td><span class="playlist_song7">...</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section></div>







{% endblock %}

