{% extends 'baseC.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}

{% block body %}
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">

    <h2>S'inscrire</h2>
    <p>Veuillez vous inscrire  plus rapidement</p>
                </div>
            </div>
        </div>
    </div>
</section>
    {{ include('user/_form.html.twig') }}


{% endblock %}
